
<div class="media">
      <div class="media-left">
        <a href="#">
          <img data-holder-rendered="true" src="images/frank-small.jpg" class="media-object" data-src="holder.js/128x128" alt="64x64">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Know more on Frank Sinatra </h4>
        <p>Frank Sinatra was born on December 12, 1915, in Hoboken, New Jersey, the only child of Italian immigrants Natalina Garaventa and Antonino Martino Sinatra, and was raised Roman Catholic.In his book Try and Stop Me (p. 218), American publisher and writer Bennett Cerf says that Sinatra's father was a lightweight boxer who fought under the name Marty O'Brien and served with the Hoboken Fire Department as a Captain. His mother, known as Dolly, was influential in the neighborhood and in local Democratic Party circles, but also ran an illegal abortion business that provided services for free, from her home; she was arrested several times and convicted twice for this offense.During the Great Depression, Dolly nevertheless provided money to her son for outings with friends and expensive clothes.</p>
        <p>Sinatra left high school without graduating,having attended only 47 days before being expelled because of his rowdy conduct. In 1938, Sinatra was arrested for adultery and seduction, a criminal offense at the time.For his livelihood, he worked as a delivery boy at the Jersey Observer newspaper,and later as a riveter at the Tietjen and Lang shipyard,but music was Sinatra's main interest, and he listened carefully to big band jazz.He began singing for tips at the age of eight, standing on top of the bar at a local nightclub in Hoboken. Sinatra began singing professionally as a teenager in the 1930s,[although he learned music by ear and never learned how to read music.</p>
        <p>Sinatra got his first break in 1935 when his mother persuaded a local singing group, The Three Flashes, to let him join. With Sinatra, the group became known as the Hoboken Four, and they sufficiently impressed Edward Bowes. After appearing on his show, Major Bowes Amateur Hour,they attracted 40,000 votes and won first prize – a six-month contract to perform on stage and radio across the United States.</p>

        <p>Sinatra left the Hoboken Four and returned home in late 1935. His mother secured him a job as a singing waiter and MC at the Rustic Cabin in Englewood Cliffs, New Jersey,for which he was paid $15 a week.</p>

        <p>On March 18, 1939, Sinatra made a demo recording of a song called "Our Love", with the Frank Mane band. The record has "Frank Sinatra" signed on the front. The bandleader kept the original record in a safe for nearly 60 years.In June, Harry James hired Sinatra on a one-year contract of $75 a week. It was with the James band that Sinatra released his first commercial record "From the Bottom of My Heart" in July 1939 – US Brunswick No. 8443 and UK Columbia #DB2150.In September 1940, Sinatra, after playing with Tommy Dorsey at Old Orchard Beach Pier, surprised nightclubbers in Portland, Maine, by turning up at the Morocco Lounge. "It was way before he became famous." </p>
      </div>
</div>


