.head{
	text-align: center;
	padding: 40px 15px;
	}

.all_head{
	text-align:left;
	padding:40px 15px;
}

.flash {
width: 600px;
padding: 5px;
font-weight: bold;
margin: 20px;
background: lighten($red, 60%);
color: $red;
border: 1px solid $red;
}