
<h2>Frank Sinatra</h2>
<samp>Singer</samp>
<div class="media">
      <div class="media-left">
        <a href="#">
          <img data-holder-rendered="true" src="images/sinatra.jpg" class="media-object" data-src="holder.js/128x128" alt="64x64">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">About Frank Sinatra</h4>
        <p>Francis Albert "Frank" Sinatra was an American singer, actor, director, and producer. Beginning his musical career in the swing era as a boy singer with Harry James and Tommy Dorsey.</p>
        <p>Sinatra found success as a solo artist from the early to mid-1940s after being signed by Columbia Records in 1943. Being the idol of the "bobby soxers", he released his first album, The Voice of Frank Sinatra, in 1946. His professional career had stalled by the early 1950s, but it was reborn in 1953 after he won the Academy Award for Best Supporting Actor for his performance in From Here to Eternity.....<a href="/about">Read More</a></p>
        <p><b>Born:</b> December 12, 1915, Hoboken, New Jersey, United States</p>
        <p><b>Died:</b> May 14, 1998, West Hollywood, California, United States</p>
        <p><b>Spouse:</b> Barbara Sinatra (m. 1976–1998), more</p>
        <p><b>Children:</b> Nancy Sinatra, Tina Sinatra, Frank Sinatra, Jr.</p>
        <p><b>Music group:</b> The Rat Pack</p>
      </div>
</div>




